html {
  

  width: 400px;
  /* max: 800px */
  max-height: 500px;
  /* max: 600px */
}

:root {
  --color-primary: #D84315;
  --color-secondary: #FFAB91;
  --color-tertiary: #FBE9E7;

  --text-primary: #000000;
  --text-secondary: #ffffff;

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Platypi", sans-serif;

}

body {
background: var(--color-tertiary);

 
}

h1 {
  font-family: var(--secondary-font);
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 15px 0;
  padding: 0;
}

p {
  color: var(--text-primary);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;

  margin: 0 0 15px 0;
  padding: 0;
}

@keyframes springHeader {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#header {
  animation: springHeader 800ms linear(0, 0.1187, 0.3801, 0.6679, 0.9085, 1.069, 1.1478, 1.1617, 1.1346, 1.0894, 1.0435, 1.0072, 0.9844, 0.9745, 0.9743, 0.9797, 0.9873, 0.9945, 0.9999, 1.0031, 1.0043, 1.004, 1.003, 1.0018, 1.0006, 0.9998, 1);
}