html {
  

  width: 400px;
  /* max: 800px */
  max-height: 500px;
  /* max: 600px */
}

:root {
  --color-primary: #D84315;
  --color-secondary: #FFAB91;
  --color-tertiary: #FBE9E7;

  --text-primary: #000000;
  --text-secondary: #ffffff;

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Platypi", sans-serif;

}

body {
background: var(--color-tertiary);

 
}

h1 {
  font-family: var(--secondary-font);
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 15px 0;
  padding: 0;
}

p {
  color: var(--text-primary);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;

  margin: 0 0 15px 0;
  padding: 0;
}

